<%= stylesheet_link_tag "six" %>

<div id="time">
  <div id="year"></div>
  <div id="month"></div>
  <div id="day"></div>
  <div id="hour"></div>
  <div id="minute"></div>
  <div id="second"></div>
</div>

<%= javascript_include_tag "six" %>